
.sign-up-container {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sign-up-container span {
    font-family: 'Montserrat', sans-serif;
    color: #687864;
}

.row {
    height: 100%;
}

.sign-up-inner-div {
    background-color: #f7f9fb;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: none;
    border-radius: 10px;
    width: 40%;
    height: 60vh;
    margin-bottom: 10px;
}

.sign-up-left-image {
    background-image: url("../../public/images/nicole-honeywill-Oj0UvBF3fjU-unsplash.jpg");
    background-size: cover;
}

.sign-up-right-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    font-family: 'Roboto', sans-serif;
}

#sign-up-info-paragraph {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 50px;
    color: #5085a5;
}

.sign-up-right-information input {
    margin-bottom: 18px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    border-bottom: 1px solid #5085a5;
    color: #5085a5;
}

.sign-up-right-information input::placeholder {
    color: #8fc1e3;
}

.sign-up-submit-button {
    margin-top: 30px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #687864;
    border-radius: 12px;
    color: #687864;
}

.sign-up-submit-button:hover {
    color: #f7f9fb;
    background-color: #687864;
}